<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641107958063-eg0k406tab2c654qimpaltqf1uevrg56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641107958063-eg0k406tab2c654qimpaltqf1uevrg56</string>
	<key>API_KEY</key>
	<string>AIzaSyDtSv1Yyek5wAAKu4s6RLKUEdBKZld2RUs</string>
	<key>GCM_SENDER_ID</key>
	<string>641107958063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MyApp.hunghoang.MyApp</string>
	<key>PROJECT_ID</key>
	<string>myapphunghoang</string>
	<key>STORAGE_BUCKET</key>
	<string>myapphunghoang.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641107958063:ios:a1da866c137fb88248a9da</string>
	<key>DATABASE_URL</key>
	<string>https://myapphunghoang.firebaseio.com</string>
</dict>
</plist>